
[mysqld]

#安装目录
basedir=/usr/local/mysql/

#存储目录
datadir=/usr/local/mysql/data

#sock文件位置
socket=/tmp/mysql.sock

#启动用户
user=mysql

#服务器ID
server-id=1

#开启binlog
log-bin=mysql-bin
binlog_format=ROW
sync_binlog=0
expire_logs_days=7
max_binlog_size=1024M

#开启慢查询日志
slow_query_log=ON
slow_query_log_file=/usr/local/mysql/log/mysql-slow.log
long_query_time=1

#服务端字符集
character_set_server=utf8mb4
collation_server=utf8mb4_general_ci

#默认存储引擎
default-storage-engine=INNODB

#事务隔离级别，可重复读
transaction_isolation=REPEATABLE-READ

#表名不区别大小写
lower_case_table_names=1

#最大连接数
max_connections=1000

#SQL数据包最大限制
max_allowed_packet=10M

#连接闲置时间
interactive_timeout=7200
wait_timeout=7200

#关闭分区存储
symbolic-links=0

#关闭日期默认填充
explicit_defaults_for_timestamp=1

#最大文件句柄
open_files_limit=5000
innodb_open_files=5000

[client]

#客户端连接端口
port=3306

#客户端默认字符集
default-character-set=utf8mb4

[mysqld_safe]

#错误日志位置
log-error=/usr/local/mysql/log/mysql.log


